.body-home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-banner-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%

}

.homeheader-subheading{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 430px;
}

.homeheader-subheading.bottom{
    width: 70%;
    min-width: 370px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.homeheader-mainHead{
    font-weight: 500;
    font-size: 400%;
    margin-bottom: 5px;
    width: fit-content;
    min-width: 850px;
    word-break: keep-all;
    text-align: center;

}
.main-picture-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 100%;
}
.main-picture{
    width: 65%;
    min-width: 800px;
    height: 450px;
    object-fit: cover;
    border: 1px transparent;
    border-radius: 10px;
}

.banner-sec-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.content-container-1{
    margin: 2%;
    width: 80%;
    background-color: #FFD365;
    border-radius: 15px;
}

.content-container-1:hover{
    position: relative;
    bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-container-1.secondHome{
    background-color: #C5CBE3;
}

.content-label-1{
    display: flex;
    flex-direction: row;
    text-align: start;
    padding: 10px 20px 20px 20px;
}

.explore-image-home{
    width: 600px;
    height: 330px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.top-explore-text{
    margin-top: 0%;
    font-weight: 600;
    color: #88733e;
}

.top-explore-text.firstHomeBtn{
    color: #5369c4;
}

.bottom-explore-bold-text{
    max-width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 130%;
    color: #88733e;
}

.bottom-explore-bold-text.firstHomeBtn{
    color: #5369c4;
}

.explore-content-text-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.button-explore-main{
    border: 1px transparent;
    border-radius: 25px;
    height: 50%;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #a18849;
}

.button-explore-main.secondHomeBtn{
    color: #5369c4;
}

.button-explore-main:hover{
    cursor: pointer;
}
.resort-image-interactive{
    margin: 1%;
}

.content-container-explore-pages{
    text-decoration: none;
}

.home-search-body-container{
    width: 60%;
    z-index: 1;
}

.home-search-body-form-content{
    width: 100%;
    background-color: transparent;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #dbe2d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    background-color: #f3f2ef;
    margin: 50px 0px -60px 0px;

}

.search-input-container{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-right: 12.5px;
    padding-left: 10px;
}

.search-input-container.guest{
    width: 30%;
    margin-left: 12.5px;
}

.search-form-submit-btn{
    margin-top: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #00c585;
    border: none;
}

.search-form-submit-btn:hover{
    cursor: pointer;
}

.input-container.locations{
    height: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    padding-left: 10px;
}

.input-container.locations.guests-select{
    height: 34px;
    background-color: #ffffff;
    font-family: 'Rubik', sans-serif;
    border: 1px solid #dbe2d3;
}
