
.resorts-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.resorts-container-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.resorts-container-body-host{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resort-info-container{
    width: 100%;
    min-height: 300px;
    list-style: none;
}

.resort-info-host-container{
    max-height: 300px;
    max-width: 252px;
    margin: 10px;
    list-style: none;
}

.resort-info-container:hover{
    position: relative;
    bottom: 1%;
}

.resort-container-list-outline{
    width: 100%;
}

.resort-list-image{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.resorts-container-sec{
    height: 300px;
    width: 100%;
}

.resorts-image-container{
    width: 100%;
    max-height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px transparent;
    border-radius: 15px;
    margin-bottom: 2%;
    object-fit: cover;
}

.resort-image-interactive{
    text-decoration: none;
    color: blue;
    width: 23%;
    max-width: 296px;
    min-width: 202px
}

.resorts-details-containers{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
}

.resort-details-info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.resort-details-name{
    color: black;
    font-weight: 500;
    padding-right: 2px;
}

.resort-details-break{
    text-decoration: none;
    color: black;
    width: 100%;
}

.resorts-details-price-tag{
    margin-bottom: 0px;
    margin-top: 1px;
    color: black;
    font-weight: 500;
}
.resort-details-info-text{
    font-weight: 200;
    color: rgb(94, 93, 93);
    width: 100%;
}

.resorts-details-price-tag-text{
    color: black;
    font-size: small;
}

.resort-details-price-cont{
    width: 100%;
}

.editResort-btn{
    height: 50%;
    width: 250px;
    margin: 2px;
    border: 1px rgb(216, 188, 151) solid;
    border-radius: 10px;
    background-color: #ece2c7;
    font-weight: 600;
    color: rgb(107, 103, 103)
}

.editResort-btn:hover{
    cursor: pointer;
    background-color: #f5f0e4;
}

.host-resort-page-header{
    display: flex;
    flex-direction: row;
}

.addResort-btn{
    width: 250px;
    margin: 15px;
    border: 1px rgb(216, 188, 151) solid;
    border-radius: 10px;
    background-color: #ece2c7;
    font-weight: 600;
    color: rgb(107, 103, 103)
}

.addResort-btn:hover{
    cursor: pointer;
    background-color: #f5f0e4;
}

.addResort-heading{
    margin-left: 3%;
}
