.body-container-main{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.details-main-container-outer{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.main-body-image-container{
    width: 90%;
    display: flex;
    justify-content: center;
}

.main-details-title-container{
    margin-top: 25px;
}

.main-body-image{
    width: 100%;
    max-width: 800px;
    min-width: 751px;
    object-fit: fill;
    border: 5px transparent rgb(88, 87, 87);
    border-radius: 15px;
    /* box-shadow: -5px 5px 3px 1px rgb(199, 198, 198); */
}

.left-section-outer{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.content-container-left{
    width: 80%;
}

#nav-links-location{
    font-size: 14px;
    color: black;
    text-decoration-color: #9c9c9c;
}

#content-main-title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 7px;
}

#content-main-details-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#content-main-resort-details{
    margin-top: 1%;
    width: 100%;
    /* margin-left: 1%; */
    font-weight: 300;
}

#content-main-resort-about{
    width: 70%;
}

#content-main-resort-host{
    width: 150px;
}

.content-main-location{
    color: rgb(105, 103, 103);
}

#content-main-resort-details-head{
    margin-bottom: 2px;
    margin-left: 1%;
    color: rgb(48, 48, 49);
    font-weight: 600;
}

.host-details-image{
    max-width: 60%
}

#content-main-resort-name-head{
    font-size: 15px;
    margin-bottom: 1px;
    color: rgb(135, 137, 138);
}

#content-main-resort-name{
    margin-top: 1px;
}

#line-break-details{
    width: 750px;
}

.bottom-amenities-section-container{
    width: 100%;
}

#amenities-image{
    width: 45px;
    margin-right: 4px;
}

.amenities-details-container{
    max-width: fit-content;
    list-style: none;
}

.bottom-amenities-section-body{
    text-decoration: none;
    width: 80%;
}

.amenities-details-list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-amenities-section-ul{
    padding-left: 0px;
}

.content-container-right{
    border: 1px solid rgb(192, 190, 190);;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 250px;
    height: fit-content;
    box-shadow: -2px 1px 4px 1px rgb(175, 174, 174);
}

#bottom-amenities-header{
    width: fit-content;
}

.content-container-price-section{
    width: 250px;
    border-bottom: 1px solid rgb(192, 190, 190);
}

.booking-container{
    border-bottom: 1px solid rgb(192, 190, 190);
    width: 250px;
}

.booking-container-capacity{
    border-bottom: 1px solid rgb(192, 190, 190);
    width: 250px;
}

#booking-container-price{
    margin-bottom: 1px;
    margin-left: 5px;
}

#booking-container-cap{
    margin-top: 1px;
    margin-left: 5px;
}

#booking-container-capacity-header{
    margin-left: 5px;
    margin-bottom: 5px;

}

#booking-container-capacity-bottom{
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight: 300;
    margin-top: 1px;
}

.resort-booking-date-container {
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    width: fit-content;
    margin-bottom: 5px;
  }

.resort-booking-date-widget{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(192, 190, 190);
    margin-bottom: 10px;
}

.calendar-input-widget-title{
    margin-left: 5px;
}

.calendar-input-widget{
    border: none;
    background-color: #F3F2EF;
    margin-bottom: 16px;
    margin-left: 5px;
}

.booking-date-widget-break{
    width: fit-content;
    margin: 5px;
}

.calendar-submit-button{
    background-color: #40D9AC;
    color: whitesmoke;
    border: none;
    width: 230px;
    height: 40px;
    margin-bottom: 5px;
}

.booking-date-button-container{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-date-button-container.guest{
    margin-top: 3px;
    margin-bottom: 3px;
}

.calendar-submit-button.guest{
    margin-top: 5px;
}

.calendar-submit-button.guest:hover{
    cursor: pointer;
}

.calendar-submit-button:hover{
    cursor: pointer;
}
