
.form-container-button-section-signup{
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input-nationality-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    border-bottom: 1px solid black;
    margin-right: 25%;
    width: 190px;
}

.login-table-input.Btn:hover{
    cursor: pointer;
}
